In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [3]:
def print_groups(group_object):
    for name, group in group_object:
        print(name)
        print(group[:5])

## 그룹함수  및 피봇 테이블 이용 간단한 분석 예제

In [17]:
tips = sns.load_dataset("tips")
tips.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [50]:
tips["tip_pt"] = tips["tip"]/tips["total_bill"]

In [55]:
tips.groupby('sex')['tip_pt'].mean()

sex
Male      0.157651
Female    0.166491
Name: tip_pt, dtype: float64

In [66]:
tips.groupby(['sex','smoker'])['tip_pt'].describe()

               count      mean       std       min       25%       50%  \
sex    smoker
Male   Yes      60.0  0.152771  0.090588  0.035638  0.101845  0.141015
       No       97.0  0.160669  0.041849  0.071804  0.131810  0.157604
Female Yes      33.0  0.182150  0.071595  0.056433  0.152439  0.173913
       No       54.0  0.156921  0.036421  0.056797  0.139708  0.149691

                    75%       max
sex    smoker
Male   Yes     0.191697  0.710345
       No      0.186220  0.291990
Female Yes     0.198216  0.416667
       No      0.181630  0.252672

In [77]:
# 성별과 흡연 유무에 따른 팁 비율의 평균

smoker       Yes        No
sex
Male    0.152771  0.160669
Female  0.182150  0.156921