# 변이통계량(measure of dispersion)
- 데이터의 퍼짐 정도
- 범위, 사분위간 범위, 표준편차, 분산, 변동계수


- 데이터들이 얼마나 흩어져 있는가를 나타내는 것(산포도)
- 하나의 수치로 데이터가 흩어진 정도를 계산
- 대표값과 더불어 데이터를 비교하는 경우에 유용하게 사용
- 예. 평균이 같은 A와 B반의 성적 : 두 집단이 동일한 집단?

<img src='./image/2_00001.png' width='70%'>


- 어느 대학에서 같은 과목을 두 교수가 가르친다고 하자. 두 교수 모두 평균 C학점을 학생들에게 준다면 그 과목을 배우려는 학생들은 어떤 교수를 선택해도 마찬가지라고 생각할 것이다.
- 그러나 한 교수는 대부분의 학생들이 평범하다고 생각하여 C만 주고 다른 교수는 학생들의 반은 우수하고 반은 공부를 안한다고 생각하여 A를 주거나 D만 준다
- 그러므로 이러한 흩어짐의 정보 없이 학생들이 평균 성적 C라는 사실만 가지고 교수를 선택한다면 학점때문에 어려움에 처할 수도 있게 된다.

In [1]:
import numpy as np
import pandas as pd
from scipy.stats import *

In [2]:
# numpy float 출력옵션 변경
# np.set_printoptions(precision=3)
# np.set_printoptions(precision=20, suppress=True)
# pd.options.display.float_format = '{:.2f}'.format
np.set_printoptions(formatter={'float_kind': lambda x: "{0:0.3f}".format(x)})

In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

## 범위(range)
- 데이터의 최대값과 최소값의 차이
- 데이터가 퍼져있는 정도를 나타내는 가장 간단한 방법
- 범위가 클수록 산포가 크다고 말할 수 있지만
- 중앙값과 마찬가지로 극단적인 값에 영향을 받음
- 데이터 중 2개의 정보(최대값, 최소값)만을 이용하므로 적절한 척도로 사용하기 어려움

**범위(R)= 최댓값 - 최솟값**

In [4]:
np.random.seed(123)
data = np.random.normal(100,20, size=1000)
data[:10]

array([78.287, 119.947, 105.660, 69.874, 88.428, 133.029, 51.466, 91.422,
       125.319, 82.665])

In [6]:
np.min(data),np.max(data)

(35.37889984161376, 171.43158436052622)

- numpy의 max(), min() 함수 이용하여 범위 계산

In [7]:
# 범위 = 최대값 - 최소값
np.max(data) - np.min(data)

136.05268451891246

- numpy의 ptp(a[,axis,out,keepdims]) 함수 이용하여 범위 계산

In [8]:
# numpy.ptp() 이용
np.ptp(data)

136.05268451891246

### 중간 범위
- 최대값과 최소값의 평균

In [10]:
# 중간 범위 계산
(np.max(data)+np.min(data))/2

103.40524210106999

### 사분위간 범위(interquartile range : IQR)
- IQR = Q3-Q1

In [11]:
# numpy.quantile() 이용하여 IQR 계산
np.quantile(data,0.75) - np.quantile(data,0.25)

27.06844676167337

In [13]:
# scipt.stats.iqr(x[,axis,rng,scale,nan_policy, ... ]) 이용
iqr(data)

27.06844676167337

### 사분위수 편차
- 범위(range)의 문제점을 보완한 척도
- 사분위간 범위의 값을 2로 나눈 값으로 사분위 범위의 평균


<img src='./image/2_00002.png' width='70%'>

In [14]:
# numpy.quantile() 이용
(np.quantile(data,0.75) - np.quantile(data,0.25))/2

13.534223380836686

In [15]:
# scipy.stats.iqr(x[, axis, rng, scale, nan_policy, ...]) 이용
iqr(data)/2

13.534223380836686

### 편차(deviation)
- 자료값과 평균과의 차이
- xi - mean()

In [16]:
data-np.mean(data)

array([-20.921, 20.738, 6.451, -29.335, -10.781, 33.820, -47.742, -7.787,
       26.110, -16.544, -12.786, -1.103, 30.619, -11.987, -8.088, -7.896,
       44.910, 44.527, 20.872, 8.515, 15.539, 30.606, -17.925, 24.308,
       -24.286, -11.964, 18.933, -27.782, -2.010, -16.444, -4.321,
       -55.180, -34.639, -13.206, 19.341, -2.681, 0.848, 14.556, -16.799,
       6.464, -15.316, -33.762, -7.027, 12.267, 7.563, 0.555, 48.639,
       9.050, 20.366, 45.554, -25.090, -19.984, 35.666, -15.170, 1.385,
       22.178, 18.605, 35.889, 30.704, 22.179, -14.663, 16.689, 7.077,
       -25.734, 29.137, 16.936, 1.701, -3.871, -23.175, 4.782, 10.160,
       -15.832, 24.035, -21.153, -41.671, 21.586, -7.276, -1.729, -15.959,
       -31.328, 25.896, -12.986, 34.010, 16.937, -5.504, -20.927, -13.858,
       -23.459, 42.534, 4.080, 23.795, -24.556, 4.412, 24.349, -5.909,
       21.414, -20.900, -26.478, 8.379, -6.792, 13.632, -38.766, 15.037,
       52.757, 0.299, 1.474, 4.382, -36.448, 9.314, -31.317, -7.762,
       25.649, -13.913, 10.816, 21.046, 6.366, -26.628, -5.858, 39.980,
       -39.710, -4.724, -10.251, 3.206, 15.756, 32.965, -4.613, 17.038,
       10.786, 10.278, -10.487, -19.155, -21.210, -14.337, 7.225, 16.010,
       7.261, -10.188, 36.911, 31.169, -6.289, -15.677, 3.396, 26.137,
       7.447, 11.922, -3.450, 9.917, 31.682, -4.002, 3.657, 5.868, 6.466,
       -27.446, -36.746, -19.602, 4.150, 11.868, -9.822, 28.336, -2.072,
       1.198, -3.088, 3.472, 14.881, 14.104, -17.177, 31.265, -21.109,
       2.376, -4.697, -20.189, -0.711, -14.025, 2.249, 8.853, 30.230,
       6.939, -11.433, -7.041, 3.591, 2.660, 29.983, 28.698, -6.387,
       -10.182, -50.350, -10.187, -18.770, -6.305, 8.623, 4.335, 0.192,
       4.783, -1.731, 4.732, -63.830, -4.595, -1.426, -6.034, -3.568,
       14.857, -11.171, 44.805, 14.557, 0.665, -3.342, -0.939, -17.515,
       -1.113, 6.365, 12.382, 12.385, -4.706, -27.530, -12.591, 33.035,
       18.712, 8.184, -14.435, 0.864, -24.322, -10.247, -4.113, -6.442,
       19.923, -27.583, -16.517, -26.702, -23.956, 3.272, -31.218, 15.869,
       -4.145, 2.167, 7.243, -7.892, 21.441, -3.096, 12.673, -3.191,
       6.609, 6.385, 5.791, -18.695, 9.509, -5.588, 13.401, -42.259,
       -28.511, 8.060, 38.050, 17.492, -12.858, -33.050, 15.645, -0.820,
       12.605, 3.097, 1.384, 59.964, 0.669, -2.394, -1.638, -10.879,
       20.594, -6.284, 13.510, 6.483, 25.171, 9.195, -23.476, -25.738,
       28.959, -11.383, -25.621, -12.601, 26.084, -27.613, -16.539,
       -12.545, -24.233, -22.895, -29.571, -8.432, -6.307, -12.859,
       -32.283, 25.858, -25.790, 6.352, -20.704, 14.158, 19.908, -16.761,
       -37.683, 14.707, 38.307, 9.105, 4.002, 17.186, 16.092, -15.788,
       -12.392, 13.014, -2.089, 27.123, -13.296, 15.803, 7.644, -1.737,
       24.309, 14.393, -19.308, 13.596, 28.291, -1.818, -4.182, -12.602,
       0.519, 14.515, -15.562, -26.136, -6.724, -26.803, 11.256, -7.743,
       -34.317, -6.181, -3.061, 9.774, -2.116, 38.166, -9.583, -0.457,
       -1.267, -4.861, 3.640, 11.616, 27.593, -30.594, -9.416, -8.164,
       19.548, -6.342, -37.112, 2.546, 0.117, 4.386, -20.012, 35.172,
       -5.686, -2.975, -17.209, -17.829, -23.663, -7.075, -18.360, 41.921,
       -36.979, -21.775, -7.237, 14.261, -7.484, 14.311, -18.945, 1.977,
       35.672, -18.564, 9.183, 4.930, -44.239, -10.988, 23.414, 3.493,
       -23.454, 14.607, -8.791, 7.992, 8.330, -21.583, 16.588, -19.359,
       -25.324, -16.865, -6.131, 2.979, -14.660, 15.688, 5.821, -13.105,
       18.571, 24.013, -1.182, -3.508, -34.684, -7.359, -5.039, 5.699,
       -2.577, 5.672, 31.473, -9.807, -9.028, -25.392, 0.618, 20.328,
       -34.230, -12.526, 1.510, 17.793, 8.449, 7.301, -3.695, 10.429,
       21.077, -33.389, 15.362, -1.184, -9.808, -48.070, -26.816, 34.752,
       -12.980, -20.904, -8.337, -14.112, 3.278, 31.131, -10.941, 3.877,
       -22.153, 31.195, 4.572, -20.845, 18.877, 24.791, 4.020, -31.997,
       36.495, 6.994, 24.200, -10.227, -7.181, 3.000, 23.059, 3.651,
       -24.345, 6.031, 33.382, 2.107, 3.379, -24.460, -27.268, -11.963,
       -5.739, 2.872, 4.110, 32.829, 1.965, 22.080, 0.005, 29.769,
       -36.617, -11.183, 20.452, -2.641, 19.422, 8.493, 19.709, 13.053,
       14.264, 30.640, 20.521, 20.667, 1.200, -10.846, -12.400, 15.810,
       -47.978, -25.352, -18.474, -4.161, -51.837, 25.966, 12.795, 40.483,
       22.036, 21.399, 45.805, -10.628, -29.278, -3.856, -15.709, -4.346,
       -20.213, 12.149, 11.051, 0.253, 7.023, -2.050, 15.832, 2.184,
       -4.518, 19.383, 26.008, 27.540, -19.014, -9.898, -33.239, -3.980,
       9.114, -1.865, 39.408, -7.326, -20.979, 12.161, 3.790, 11.784,
       6.867, 5.667, -41.655, -13.731, -11.015, -6.168, -8.177, 9.048,
       12.809, -21.842, 14.527, 12.507, 10.107, -27.567, 9.603, 2.443,
       20.009, 36.478, 32.553, 3.044, 0.754, 13.430, -21.510, -28.222,
       -8.659, 25.203, -5.831, 30.843, -54.971, -30.953, -1.682, 18.555,
       -0.601, -1.122, -1.644, -34.467, 23.953, -12.864, 22.582, -0.619,
       22.154, 7.656, -1.342, 5.317, -28.668, 0.912, 35.112, 26.955,
       -18.909, 10.905, 5.751, 17.135, 2.674, -3.879, 27.404, 5.119,
       25.901, 20.279, -5.698, -2.549, 39.388, 4.621, -14.381, -23.210,
       20.274, 3.997, -15.051, 14.283, 3.986, -32.418, 12.565, 27.455,
       51.988, 1.489, 5.444, 32.923, 4.166, 6.298, -11.821, -27.096,
       19.045, -24.680, 23.604, -14.972, 6.096, -6.654, 24.283, 6.808,
       39.973, -20.882, 9.069, 1.738, 6.390, 32.710, 12.498, -22.159,
       11.461, -7.521, -8.676, 21.708, -11.256, -6.803, 1.439, 19.715,
       12.423, -3.897, -4.652, -22.411, -14.405, -12.296, -2.195, 40.527,
       -12.718, -5.125, -40.257, 12.803, -30.758, -17.341, 21.638,
       -41.307, 2.710, 16.810, 31.300, -17.611, -11.689, 36.880, 0.290,
       -13.934, -13.558, -18.660, -8.002, 22.556, 18.547, -22.694, 5.083,
       -7.252, 16.440, -2.336, 8.222, -2.381, -42.950, 1.731, -24.644,
       15.734, -12.805, -11.309, 0.613, 12.347, -2.604, 33.635, 33.768,
       35.101, -3.895, -28.848, 25.193, -7.536, 1.555, 13.358, -31.297,
       33.374, 18.291, 7.837, 18.610, 11.930, 3.128, -5.364, -13.992,
       6.536, 8.015, 22.455, 4.804, -16.273, -30.733, -1.760, 0.242,
       -1.171, -29.819, 22.281, 22.244, -15.674, 16.911, 19.848, 1.560,
       -18.179, 33.059, 8.410, -4.229, 16.248, 33.235, -9.152, 14.620,
       39.654, -21.540, -10.194, -11.166, -2.375, -3.408, 6.807, -15.616,
       -11.662, 6.817, 3.890, 18.273, 8.978, 16.228, -22.068, -6.877,
       37.759, 8.633, 15.739, 6.246, 9.298, -3.827, 72.223, -7.132, 0.025,
       -47.705, 22.917, -10.254, -0.425, -9.770, -1.982, -4.894, -0.070,
       -0.265, -2.293, -2.566, 26.962, 18.420, 18.540, -13.858, 25.928,
       23.424, -10.277, 31.268, -12.873, -36.049, 22.822, -1.599, 20.330,
       -14.293, -24.444, 25.429, -27.354, -30.429, -37.720, -55.098,
       -19.991, -42.597, 0.079, -43.937, -21.094, 47.433, 7.694, 1.847,
       -31.624, -4.121, 1.753, -31.312, 3.315, 24.616, -6.174, -3.153,
       -40.051, -27.193, 21.945, -12.440, -17.803, -13.060, -0.358,
       -22.377, 3.322, -26.409, 16.271, -20.350, 27.197, 0.591, -16.122,
       19.020, -26.699, -10.150, 0.790, -1.632, -39.380, -17.622, 4.156,
       -25.607, 26.120, 10.695, -9.494, -3.615, 38.023, 19.511, 8.396,
       -27.519, 33.384, 21.839, -2.177, -10.203, -2.967, -23.247, -8.624,
       16.054, -35.361, -5.490, 3.066, 2.863, -22.787, -22.852, 22.575,
       -23.699, 20.964, -8.856, 22.387, -7.630, -22.538, 17.922, 0.443,
       29.763, 18.635, -3.797, -8.202, 1.259, 4.595, -16.844, 17.630,
       -7.156, -7.669, -10.022, 5.412, -13.050, 3.491, 56.123, -0.281,
       -7.889, -32.563, 1.796, -21.393, -6.720, 3.823, -33.829, 3.941,
       6.882, -25.151, -7.055, -35.822, 32.301, 7.403, -2.800, -2.477,
       23.420, -1.092, 7.408, 31.164, -6.132, -21.061, -15.699, 29.365,
       2.620, -9.255, 20.264, 20.750, -8.722, -18.647, -30.619, -35.086,
       -4.508, -17.073, 37.961, 1.962, -38.052, 29.166, 4.025, 14.891,
       14.432, 6.722, 11.258, 5.566, -21.336, 8.126, 21.269, -3.410,
       11.817, 9.183, 37.104, -4.264, -5.049, -1.547, -1.257, -44.661,
       -12.061, 6.789, 0.626, -15.196, -12.504, -6.321, -15.240, -9.470,
       -9.997, 18.699, 21.119, 19.463, 9.325, -13.375, 19.988, -5.494,
       1.252, 27.556, 2.471, 5.737, -27.464, 10.531, -18.809, 21.030,
       -2.901, -43.932, -6.369, -3.769, 10.501, 14.202, -5.764, 21.049,
       -62.550, -13.488, -21.456, -24.292, 19.985, 17.375, -14.724,
       24.352, 2.821, -7.642, -13.067, -14.774, 10.247, 13.794, 5.561,
       -40.213, 6.718, 12.099, -12.593, 1.656, -36.486, -23.808, -5.693,
       -5.404, 7.825, -22.947, -6.033, -9.004, 11.351, 29.212, 35.210,
       -30.578, -0.169, -21.459, -0.504, 9.250, 2.421, -0.189, 30.452,
       15.211, -4.662, 1.276, 18.209, 12.987, -7.710, -34.714, -22.902,
       3.711, -34.939, -2.257, -8.280, 20.776, -25.570, -37.844, -7.602,
       13.487, 22.190, -17.395, 10.197, -21.437])

In [17]:
# 편차의 합은 항상 0
(data-np.mean(data)).sum()

-7.815970093361102e-12

### 분산(variaince)
- 산포도의 척도로 가장 널리 사용되는 방법
- 평균을 중심으로 데이터가 퍼져있는 정도의 측도


- 각 데이터와 평균과의 차이를 제곱하여 합한 값의 평균
    - 모분산 : n으로 나눠줌
    - 표본분산 : n-1로 나눠줌
    
<img src='./image/2_00003.png' width='70%'>


**분산 계산 : var(a, ddof=0) 함수**
- numpy.var(a[, axis, dtype, out, ddof, keepdims, where])
- pandas.Series.var(axis=None, skipna=None, level=None, ddof=1, numeric_only=None, **kwargs)
- ddof 인수:
    - 기본값은 0 => 모집단 분산
    - 표본 분산의 경우 1로 설정

In [20]:
# ddof=0 : 모분산, ddof=1 : 표준분산
x = [1,2,3,4,5]

# 표본 분산
np.var(x, ddof=1) 

# 모분산
np.var(x, ddof=0) # =np.var(x) 

# 모분산
np.array(x).var()
pd.Series(x).var(ddof=0)

2.5

2.0

2.0

### 표준편차(standard deviation)
- 계산된 분산의 제곱근으로 계산
- 평균을 중심으로 일정한 거리에 포함된 데이터의 비율이 얼마인가를 계산
- 모든 데이터를 고려한 척도

- 특징
    - 모든 데이터가 동일한 값을 갖는다면 분산과 표준편차는 0으로 계산
    - 모든 데이터에 동일한 값을 더해주거나 빼도 변하지 않음
    - 모든 데이터에 동일한 값(C)를 곱하면 분산은 분산 * C²으로 표준편차는 표준편차 * C 만큼 커짐
    
<img src='./image/2_00004.png' width='70%'>

**표준편차 계산: std(a, ddof=0) 함수 사용**
- 데이터의 단위와 동일하게 만듦
    - 분산에서 제곱의 영향을 없앤 지표
- 분산과 표준편차가 크면 클수록 산포가 크다

- numpy.std(a[, axis, dtype, out, ddof, keepdims,where])
- pandas.Series.std(axis=None, skipna=None, level=None, ddof=1, numeric_only=None, **kwargs)
- ddof 인수 :
    - 기본값은 0 => 모집단 분산
    - 표본 분산의 경우 1로 설정

In [21]:
# ddof=0 : 모분산, ddof=1 : 표준분산
x = [1,2,3,4,5]

# 표본 표준편차(S)
np.std(x, ddof=1) 

# 모표준편차 (sigma)
np.std(x, ddof=0) # =np.var(x) 
np.array(x).std()
pd.Series(x).std(ddof=0)

1.5811388300841898

1.4142135623730951

1.4142135623730951

1.4142135623730951

### 변동계수(CV : Coefficient of Variable)
- 표본 표준편차를 표본평균으로 나눈 값 또는 그 값에 100을 곱한 값
- 상대표준편차
- 서로 다른 평균과 표준편차를 갖는 여러 데이터의 흩어진 정도를 비교할 때 사용
- 변동계수 값이 크다는 것은 데이터의 흩어진 정도가 상대적으로 크다는 의미

<img src='./image/2_00005.png' width='70%'>

**변동계수 계산**
- scipy.stats.variation(a, axis=0, nan_policy='propagate', ddof=0, *, keepdims=False)
- np.std(x, axis=axis, ddof=ddof) / np.mean(x)

In [25]:
men = [72,74,77,68,66,75]
women = [45,48,52,53,46,50]

print('----평균----')
np.mean(men)
np.mean(women)
print('--표본 표준편차--')
np.std(men, ddof=1)
np.std(women, ddof=1)

----평균----

72.0

49.0

--표본 표준편차--

4.242640687119285

3.22490309931942

In [26]:
# np.std(x, axis=axis, ddof=ddof) / np.mean(x) 이용
print('변동계수(남자)', np.std(men, ddof=1) /np.mean(men))
print('변동계수(여자)', np.std(women, ddof=1) /np.mean(women))

변동계수(남자) 0.05892556509887895
변동계수(여자) 0.06581434896570246

In [29]:
#scipt.stats.variation(a, axis=0, nan_policy='propagate', ddof=0, *, keepdims=False)
print('변동계수(남자)',variation(men, ddof=1))
print('변동계수(여자)',variation(women, ddof=1))

변동계수(남자) 0.05892556509887895
변동계수(여자) 0.06581434896570246

## 데이터의 정규화
: scaling(표준화)
- 각 값들을 상대적인 값으로 변화시키는 기법
- 예. 국어 평균 95점, 수학 평균 30점인 경우
    - 취득점수 국어 90, 수학 80이라면 어떤 과목을 더 잘한 것인가?

1. standard scaling(Z)
    - ${ z_i = \frac {x_i - mean(x)} {S} }$
    - 평균 : 0, 표준편차 : 1 이 됨


2. min-max scaling
    - ${ s_i = \frac {x_i - min(x)} {max(x)-min(x)} }$
    - 0 ~ 1 사이의 값으로 변환

### 표준화 예제

In [32]:
df = pd.read_csv('./data/ch2_scores_em.csv',
                 index_col='student number')
df.head()

                english  mathematics
student number
1                    42           65
2                    69           80
3                    56           63
4                    41           63
5                    57           76

In [33]:
df['english'].describe()

count    50.000000
mean     58.380000
std       9.799813
min      37.000000
25%      54.000000
50%      57.500000
75%      65.000000
max      79.000000
Name: english, dtype: float64

In [36]:
df['mathematics'].describe()

count    50.000000
mean     78.880000
std       8.414371
min      57.000000
25%      76.000000
50%      80.000000
75%      84.000000
max      94.000000
Name: mathematics, dtype: float64

In [37]:
df.describe()

         english  mathematics
count  50.000000    50.000000
mean   58.380000    78.880000
std     9.799813     8.414371
min    37.000000    57.000000
25%    54.000000    76.000000
50%    57.500000    80.000000
75%    65.000000    84.000000
max    79.000000    94.000000

### Z-scaling

In [41]:
# Z-scaling : 평균이 0 , 표준편차가 1이 됨
z1 = (df['english'] - df['english'].mean()) / df['english'].std()
z2 = (df['mathematics'] - df['mathematics'].mean()) / df['mathematics'].std()

print(z1.min(), z1.max())
print(z2.min(), z2.max())

# -3 ~ 3 사이의 값으로 분포됨 => 비교 가능해짐

-2.1816743772942324 2.104121873704727
-2.600313324789425 1.796925844187209

In [42]:
z1.mean(), z1.std()

(-2.3092638912203257e-16, 1.0)

### min-max scaling

In [43]:
# min-max scaling -> 데이터를 최솟값으로 빼고 (최댓값-최솟값)으로 나눔
s1 = (df['english'] - df['english'].min()) / (df['english'].max()-df['english'].min())
s2 = (df['mathematics'] - df['mathematics'].min()) / (df['mathematics'].max()-df['mathematics'].min())

print('eng :',s1.min(),s1.max())
print('math :',s2.min(),s2.max())
# 0 ~ 1 사이의 값으로 분포됨

eng : 0.0 1.0
math : 0.0 1.0

### sklearn.preprocessing.MinMaxScaler를 이용한 스케일링
- 머신러닝을 위해 쓰는 경우가 대부분
- df의 각 열에 대해서 스케일링하는데 적합함

In [45]:
df.head()

                english  mathematics
student number
1                    42           65
2                    69           80
3                    56           63
4                    41           63
5                    57           76

In [46]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
S = scaler.fit_transform(df)
pd.DataFrame(S, columns=df.columns, index=df.index).head()

# 0 ~ 1사이로 분포됨

                 english  mathematics
student number
1               0.119048     0.216216
2               0.761905     0.621622
3               0.452381     0.162162
4               0.095238     0.162162
5               0.476190     0.513514