In [4]:
import numpy as np
import pandas as pd
import math
from scipy.stats import *
import scipy as sp
import matplotlib.pyplot as plt

# ê·¸ë˜í”„ê°€ Jupyter notebook ìœ„ì— í‘œì‹œ
%matplotlib inline
# Jupyter Notebookì˜ ì¶œë ¥ì„ ì†Œìˆ˜ì  ì´í•˜ 3ìë¦¬ë¡œ ì œí•œ
%precision 3

# Dataframeì˜ ì¶œë ¥ì„ ì†Œìˆ˜ì  ì´í•˜ 3ìë¦¬ë¡œ ì œí•œ
pd.set_option('precision', 3)

'%.3f'

In [2]:
# ì—¬ëŸ¬ ë³€ìˆ˜ ì¶œë ¥ ì½”ë“œ
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [3]:
df = pd.read_csv('./data/ch2_scores_em.csv',
                index_col='student number')
en_scores = np.array(df['english'])[:10]
ma_scores = np.array(df['mathematics'])[:10]
scores_df = pd.DataFrame({'english':en_scores,
                         'mathematics':ma_scores},
                         index=pd.Index(['A','B','C','D','E','F','G','H','I','J'],
                                       name='student'))
scores_df

         english  mathematics
student
A             42           65
B             69           80
C             56           63
D             41           63
E             57           76
F             48           60
G             65           81
H             49           66
I             65           78
J             58           82

# CHAPTER 03 2ì°¨ì› ë°ì´í„° ì •ë¦¬
- 3.1 ë‘ ë°ì´í„° ì‚¬ì´ì˜ ê´€ê³„ë¥¼ ë‚˜íƒ€ë‚´ëŠ” ì§€í‘œ
- 3.2 2ì°¨ì› ë°ì´í„°ì˜ ì‹œê°í™”
- 3.3 ì•¤ìŠ¤ì»´ì˜ ì˜ˆ

## ë‘ ë°ì´í„° ì‚¬ì´ì˜ ê´€ê³„ë¥¼ ë‚˜íƒ€ë‚´ëŠ” ì§€í‘œ

### ê³µë¶„ì‚°
- ë‘ ë³€ìˆ˜ ì‚¬ì´ì˜ ê´€ê³„ì„± ì²™ë„
- ì˜ˆ) ì˜ì–´/ìˆ˜í•™ ì ìˆ˜ì˜ ê³µë¶„ì‚°í‘œ 
    - ì§ì‚¬ê°í˜• ê°€ë¡œ : ì˜ì–´ ì ìˆ˜ì˜ í¸ì°¨
    - ì§ì‚¬ê°í˜• ì„¸ë¡œ : ìˆ˜í•™ ì ìˆ˜ì˜ í¸ì°¨
    
<img src='./images/3_1_0001.png' width='500px' align='left'>

In [15]:
## ê³µë¶„ì‚° êµ¬í•˜ê¸°
# ë°©ë²• 1. í¸ì°¨ ì§ì ‘ ê³„ì‚°í•˜ì—¬ ê³µë¶„ì‚° êµ¬í•˜ê¸°

print('1. í¸ì°¨ ì§ì ‘ ê³„ì‚°í•˜ì—¬ ê³µë¶„ì‚° êµ¬í•˜ê¸°')
summary_df = df.copy()
summary_df['eng_dev.'] = summary_df['english'] - summary_df['english'].mean() # ì˜ì–´ì ìˆ˜ í¸ì°¨
summary_df['math_dev.'] = summary_df['mathematics'] - summary_df['mathematics'].mean() # ìˆ˜í•™ì ìˆ˜ í¸ì°¨
summary_df['productOfDev.'] = summary_df['eng_dev.'] * summary_df['math_dev.'] # ê° ê³µë¶„ì‚° êµ¬í•˜ê¸°
print('ì˜ì–´ì ìˆ˜, ìˆ˜í•™ì ìˆ˜, ì˜ì–´ì ìˆ˜í¸ì°¨, ìˆ˜í•™ì ìˆ˜í¸ì°¨, ê° ê³µë¶„ì‚° í…Œì´ë¸”')
summary_df.head()

print('ê³µë¶„ì‚°',summary_df['productOfDev.'].mean())
 # ê³µë¶„ì‚°
# ê²°ê³¼ : 58.486(>0)ì´ë¯€ë¡œ ì–‘ì˜ ìƒê´€ê´€ê³„
print('----------------------------------------------')

# ë°©ë²• 2. numpyì˜ ê³µë¶„ì‚° í•¨ìˆ˜ : cov(data1, data2, ddof=)
# ë°˜í™˜ê°’ : ê³µë¶„ì‚° í–‰ë ¬ 
# ë°˜í™˜ í–‰ë ¬ ì¤‘ [0,1]ê³¼ [1,0] ì˜ ì›ì†Œê°€ ê³µë¶„ì‚° ê°’
print('2. numpy.cov()ìœ¼ë¡œ ê³µë¶„ì‚° êµ¬í•˜ê¸°')
cov_mat = np.cov(df['english'],df['mathematics'], ddof=0) # ëª¨ì§‘ë‹¨ì˜ ê³µë¶„ì‚°
cov_mat
print('ëŒ€ê°ìš”ì†Œ(ê³µë¶„ì‚°) :',cov_mat[0,1],cov_mat[1,0])
print('ì˜ì–´ê³¼ëª©ì˜ ë¶„ì‚° :',cov_mat[0,0])
print('ìˆ˜í•™ê³¼ëª©ì˜ ë¶„ì‚° :',cov_mat[1,1])
print('ì˜ì–´ê³¼ëª©ì˜ ë¶„ì‚° í™•ì¸ :',np.var(df['english'],ddof=0))
print('ìˆ˜í•™ê³¼ëª©ì˜ ë¶„ì‚° í™•ì¸ :',np.var(df['mathematics'],ddof=0))

1. í¸ì°¨ ì§ì ‘ ê³„ì‚°í•˜ì—¬ ê³µë¶„ì‚° êµ¬í•˜ê¸°
ì˜ì–´ì ìˆ˜, ìˆ˜í•™ì ìˆ˜, ì˜ì–´ì ìˆ˜í¸ì°¨, ìˆ˜í•™ì ìˆ˜í¸ì°¨, ê° ê³µë¶„ì‚° í…Œì´ë¸”

                english  mathematics  eng_dev.  math_dev.  productOfDev.
student number
1                    42           65    -16.38     -13.88        227.354
2                    69           80     10.62       1.12         11.894
3                    56           63     -2.38     -15.88         37.794
4                    41           63    -17.38     -15.88        275.994
5                    57           76     -1.38      -2.88          3.974

ê³µë¶„ì‚° 58.4856
----------------------------------------------
2. numpy.cov()ìœ¼ë¡œ ê³µë¶„ì‚° êµ¬í•˜ê¸°

array([[94.116, 58.486],
       [58.486, 69.386]])

ëŒ€ê°ìš”ì†Œ(ê³µë¶„ì‚°) : 58.485600000000005 58.485600000000005
ì˜ì–´ê³¼ëª©ì˜ ë¶„ì‚° : 94.1156
ìˆ˜í•™ê³¼ëª©ì˜ ë¶„ì‚° : 69.38560000000001
ì˜ì–´ê³¼ëª©ì˜ ë¶„ì‚° í™•ì¸ : 94.11560000000001
ìˆ˜í•™ê³¼ëª©ì˜ ë¶„ì‚° í™•ì¸ : 69.38559999999995

### ìƒê´€ê³„ìˆ˜
- ê³µë¶„ì‚° : ê° ë°ì´í„°ì˜ ë‹¨ìœ„ ì œê³±ì´ë¯€ë¡œ ì§ê´€ì ìœ¼ë¡œ ë¹„êµ,ì´í•´ê°€ ì–´ë ¤ì›€
    - ì˜ˆì‹œ) í‚¤ì™€ ì ìˆ˜ê°„ì˜ ê³µë¶„ì‚° (cm X ì ìˆ˜)
- ìƒê´€ê³„ìˆ˜ : ë‹¨ìœ„ì— ì˜ì¡´í•˜ì§€ ì•ŠëŠ” ìƒê´€ì„±ì„ ë‚˜íƒ€ë‚´ëŠ” ì§€í‘œ
    - ê³µë¶„ì‚°ğ˜…ğ˜† Ã· (í‘œì¤€í¸ì°¨ğ˜…)(í‘œì¤€í¸ì°¨ğ˜†) -> ë‹¨ìœ„ì— ì˜ì¡´í•˜ì§€ ì•ŠìŒ
    - ì–‘ì˜ ìƒê´€ê´€ê³„ : 1ì— ê°€ê¹Œì›€
    - ìŒì˜ ìƒê´€ê´€ê³„ : -1ì— ê°€ê¹Œì›€
    - ë¬´ìƒê´€ê´€ê³„ : 0

<img src='./images/3_1_0002.png' width='500px' align='left'>

In [34]:
## ìƒê´€ê³„ìˆ˜ êµ¬í•˜ê¸°
# ë°©ë²• 1. ê³µë¶„ì‚°ğ˜…ğ˜† Ã· (í‘œì¤€í¸ì°¨ğ˜…)(í‘œì¤€í¸ì°¨ğ˜†)ìœ¼ë¡œ ê³„ì‚°í•˜ê¸°
print('1. np.cov(x,y,ddof=0)-----------------')
np_cov_arr = np.cov(df['english'],df['mathematics'],ddof=0)/ (np.std(df['english']) * np.std(df['mathematics']))
np_cov_arr
print(f'- df[\'english\'] : {np_cov_arr[0,0]}')
print(f'- df[\'mathematics\'] : {np_cov_arr[1,1]}')
print(f'- ìƒê´€ê³„ìˆ˜ : {np_cov_arr[0,1]}, {np_cov_arr[1,0]}')

print()
print('2. np.corrcoef(x,y)-----------------')
# ë°©ë²• 2. np.corrcoef(x,y) 
np_corr_arr = np.corrcoef(df['english'],df['mathematics'])
np_corr_arr
print(f'- df[\'english\'] : {np_corr_arr[0,0]}')
print(f'- df[\'mathematics\'] : {np_corr_arr[1,1]}')
print(f'- ìƒê´€ê³„ìˆ˜ : {np_corr_arr[0,1]}, {np_corr_arr[1,0]}')

print()
print('3. df.corr()-----------------')
# ë°©ë²• 3. pandas.DataFrame.corr()
df_corr_DF = df.corr()
df_corr_DF

1. np.cov(x,y,ddof=0)-----------------

array([[1.165, 0.724],
       [0.724, 0.859]])

- df['english'] : 1.1646518840307354
- df['mathematics'] : 0.8586256663571502
- ìƒê´€ê³„ìˆ˜ : 0.7237414863069245, 0.7237414863069245

2. np.corrcoef(x,y)-----------------

array([[1.   , 0.724],
       [0.724, 1.   ]])

- df['english'] : 1.0
- df['mathematics'] : 0.9999999999999998
- ìƒê´€ê³„ìˆ˜ : 0.7237414863069243, 0.7237414863069243

3. df.corr()-----------------

             english  mathematics
english        1.000        0.724
mathematics    0.724        1.000