In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

In [5]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [22]:
def print_groups(group_object):
    for name, group in group_object:
        print(name)
        print(group[:5])

## 그룹함수  및 피봇 테이블 이용 간단한 분석 예제

In [45]:
tips = sns.load_dataset("tips")
tips.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [44]:
# mul_col = pd.MultiIndex.from_tuples([(smoker,Male),(smoker,Female)])

In [73]:
# 흡연 유무에 따른 성별 인원

sex     smoker
Male    Yes       60
        No        97
Female  Yes       33
        No        54
dtype: int64