# 카이제곱 검정 
- 범주형 데이터에 대하여
- 카이제곱 분포 근거로 검정

1. 적합도 검정 : 한 표본데이터가 어떤 분포를 하는지
2. 동질성 검정 : 두 범주형데이터가 동일한 분포를 하는지 (귀무가설 : 분포가 같다)
3. 독립성 검정 : 두 범주형데이터가 서로 관련성이 있는지 (귀무가설 : 관련성이 없다)

**독립성 검정**
- 목적 : 두 범주형 변수가 서로 독립적인지 검정
    - 귀무가설 : 두 변수가 서로 독립이다
    - 대립가설 : 두 변수가 서로 종속된다
    
- 교차테이블로 시각화

## 교차테이블(분할표)
- 두 변수가 취할 수 있는

In [2]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt

%precision 3
np.random.seed(1111)

In [3]:
# 예제 데이터
data = pd.read_csv('./data/ch11_ad.csv')
data.shape

(1000, 2)

In [4]:
data.head()

  광고      구입
0  B  하지 않았다
1  B  하지 않았다
2  A      했다
3  A      했다
4  B  하지 않았다

In [5]:
# 교차표 생성
cross = pd.crosstab(data.광고, data.구입)
cross

구입  하지 않았다  했다
광고
A      351  49
B      549  51

In [9]:
# 카이제곱 독립성 검정
stat, p, df, exp_tab = stats.chi2_contingency(cross, correction=False)
# 통계량, pvalue, 자유도, 기대도수
stat

3.75

In [10]:
p, df

(0.052807511416113395, 1)

In [11]:
exp_tab

array([[360.,  40.],
       [540.,  60.]])